@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');



.content{
  color: white;
}
.content h2{
  font-size: 4rem;
  
  padding: 5px;
  color: gold;
  text-shadow: 2px 4px 5px 7px black;
}
*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  transition: .2s linear;
  text-transform: capitalize;
}



*::selection{
  background:grey;
  color:#fff;
  
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body{
 
  background: url(/img/form.jpg);
  background-blend-mode: darken;
  
}

section{
  padding:2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 40px;
  color:black;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: white;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 10px;
  color:black;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  font-size: 1.7rem;
  padding:.9rem 2rem;
  cursor: pointer;
  background: silver;
}

.btn:hover{
  background: cyan;
 transition: all 0.5s linear;
  
}

.heading{
  padding-bottom: 4rem;
  text-align: center;
  color: gold;
  
}

.heading h1{
  font-size: 4rem;
  color:gold;
  padding-bottom: 1rem;
  text-transform: uppercase;

}


header{
  position:fixed;
  top:0; left: 0; right: 0;
  background:silver;
  padding:1.7rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000000;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}


form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

form.example button:hover {
  background: green;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}


header .navbar{
  justify-content: left;
  text-align: left;
  
}
header .navbar a{
  color:black;
  font-size: 2rem;
  margin-left: 10px;

  padding: 2rem;
  
  
}

header .navbar a:hover{
  color:white;
  background-color:green;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  text-decoration:underline;
}


#menu-bar{
  font-size:3rem;
  color:#fff;
  border-radius: .5rem;
  border:.1px solid wheat;
  padding:.5rem 1.5rem;
  cursor: pointer;
  display: none;
  
}

.body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  
} 

.home .content{
  width: 50%;
  margin-top: 22%;
}
.home .content:hover{
  background:rgb(33, 137, 10);
  transition: all 0.5s ease-in;
  border-radius: 10px;
 
}

.home .content h3{
  font-size: 5rem;
  color:yellow;
  width:70rem;
  margin-top: 1%;
  text-shadow: #149ccd 2px 2px 2px;
}
.home .content p{
  font-size: 2.2rem;
  color:whitesmoke;
  width: 80vw;
 

}
.home{
  background:url(/img/t2.jpg) no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  height: 100vh;
}

.Services .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  
}

.Services .box-container .box{
  flex:1 1 30rem;
  margin:1rem;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.9);
  height: 25rem;
  cursor: pointer;
    z-index: 1;
  
}

.Services .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}

.Services .box-container .box .info{
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255,.8);
  text-align: center;
  opacity: 0;
}

.Services .box-container .box:hover .info{
  transform: scale(1);
  opacity: 1;
  z-index: 2000;
}

.Services .box-container .box:hover img{
  transform: scale(1.3);
  
}

.Services .box-container .box .info h3{
  font-size: 3rem;
  color:black;
}

.Services .box-container .box .info p{
  font-size: 1.7rem;
  color:#333;
  padding:1rem;
}

.clients .row{
  display: flex;
  border-radius: 10%;
}

.clients .row .divider{
  padding:0 1.5rem;
}

.clients .row .box-container .box img:nth-child(1){
  height: 125vh;
  width:100%;
  object-fit: cover;
  border-radius:10%;
 
  box-shadow: 5px 3px 4px 7px violet;
}
.clients .row .box-container .box img:nth-child(2){
  height: 125vh;
  width:100%;
  object-fit: cover;
  border-radius: 10%;
  
  box-shadow: 5px 3px 4px 7px green;
}


.clients .row .box-container .box .info{
  padding:2rem 0;
}

.clients .row .box-container .box .info h3{
  font-size: 2.5rem;
  color:#fff;
}

.clients .row .box-container .box .info p{
  font-size: 1.7rem;
  color:#aaa;
  padding:1rem 0;
  font-style: italic;
}

.clients .row .box-container .box .info p i{
  color:red;
  padding:0 .5rem;
}

.team .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}


.team .box-container .box{
  margin:1rem;
  border-radius: 10%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
  padding:4.7rem 2rem;
  text-align: center;
  background-size: cover;
  flex:1 1 33rem;
}
.team .box-container .box:hover{
  background:url(/img/form.jpeg)  no-repeat;
  transition: all 0.5s ease-in-out;
}
.team .box-container .box img{
  border-radius: 50%;
  object-fit: cover;
  height: 15rem;
  width:15rem;
  padding:1rem;
}


.team .box-container .box h3{
  font-size: 2.5rem;
  color:white;
}

.team .box-container .box span{
  font-size: 2rem;
  color:gainsboro;
}

.team .box-container .box p{
  font-size: 1.5rem;
  color:aqua;
  padding:1rem 0;
}

.team .box-container .box .share{
  padding:1rem 0;
}

.team .box-container .box .share a{
  height: 4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  color:white;
  background:rgba(0,0,0,.0);
  
}



.team .box-container .box .share  a:hover{
  color:#fff;
  transition: 0.5 ease-in;
  position: relative;
  border-radius: 50% 50% 50% 50%;
  
}
.team .box-container .box .share  a:hover:nth-child(1){
  background: #3b5998 ;
  box-shadow: 0 3px 30px 0 #3b5998 inset;
  box-shadow: 0 3px 30px 0 #3b5998 ;
  box-shadow: 0 3px 30px 0 #3b5998 inset;
  box-shadow: 0 3px 30px 0 #3b5998 ;
  text-shadow: 0 0 5px #3b5998;

}
.team .box-container .box .share  a:hover:nth-child(2){
  background: #00acee ;
  box-shadow: 0 3px 30px 0 #00acee inset;
  box-shadow: 0 3px 30px 0 #00acee ;
  box-shadow: 0 3px 30px 0 #00acee inset;
  box-shadow: 0 3px 30px 0 #00acee ;
  text-shadow: 0 0 5px #00acee;

}
.team .box-container .box .share  a:hover:nth-child(3){
  background: rgb(203, 24, 137) ;
  box-shadow: 0 3px 30px 0 rgb(224, 13, 188) inset;
  box-shadow: 0 3px 30px 0 #c13584 ;
  box-shadow: 0 3px 30px 0 #c13584 inset;
  box-shadow: 0 3px 30px 0 rgb(227, 13, 152) ;
  text-shadow: 0 0 5px rgb(245, 5, 141);

}
.team .box-container .box .share  a:hover:nth-child(4){
  background: #25D366 ;
  box-shadow: 0 3px 30px 0 #25D366 inset;
  box-shadow: 0 3px 30px 0 #25D366 ;
  box-shadow: 0 3px 30px 0 #25D366 inset;
  box-shadow: 0 3px 30px 0 #25D366 ;
  text-shadow: 0 0 5px #25D366;

}



.contact form{
  padding:2rem;
  background:rgba(0,0,0,.0);
  border-radius:10px;
  box-shadow:0 .5rem 1rem aqua;
  text-align: center;
}
.contact h1{
  font-family: sans-serif;
  font-size: 4rem;
  text-decoration: none;
  color: gold;
  
  
}
.register{
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}
.register p{
  text-decoration: none;
  color: gold;
  box-shadow: 2px 3px 4px 3px black;
}
.register p a{
  color: rgb(255, 0, 217);
  box-shadow: 2px 3px 4px 3px black;
}
.register p a:hover{
  color: chartreuse;
  transition: all 0.3s ease-in;
}

.contact form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
  border:.2rem solid rgba(0,0,0,0.1);
  font-size: 1.7rem;
  padding: 1.5rem;
  margin: 1rem 0;
  text-transform: none;
  color:#333;
}

.contact form .inputBox input{
  width:49%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 2px goldenrod inset;
}

.contact form textarea{
  height: 15rem;
  width:100%;
  resize: none;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 2px goldenrod  inset;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
 
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
  border-color: black;
}



.footer{
  padding:2.5rem 1.5rem;
  font-size: 2rem;
  color:wheat;
  background:rgba(0,0,0,.1);
  text-shadow: 2px 2px 5px black;
  text-align: center;
  text-decoration:none;
  
}

.footer span{
  color:gold;

}


/* media queries  */

@media (max-width:1300px){

  html{
    font-size: 25%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:black;
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    background:#fff;
    border-radius: .5rem;
    color:black;
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
  }

  .home{
    justify-content: center;
    background-position: left;
  }

  .home .content{
    text-align: center;
  }

  .home .content span{
    font-size: 2rem;
  }

  .home .content h3{
    font-size: 3.4rem;
    width:auto;
    color: white;
  }

  .clients .row{
    flex-flow: column;
  }

  .clients .row .divider{
    display: none;
  }

  .clients .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }

}


@media (max-width:450px){

  html{
    font-size: 40%;
  }
}